<%- include ('../../Shared/Views/header.ejs') -%> 

<a href="/dashboard/addBlog"  class="btn btn-info add-blog">Add Article</a>

<%-include('./search.ejs') -%>

<div class="container mt-5">

    <div class="row">

       
        <%-include('./adminCard.ejs') -%>
      
    </div>
</div>


</body>
</html>