<form class="form mt-5" action="/" method="POST">

    <div class="row d-flex justify-content-center" >
        
      <div class="col-auto col-md-6">
        <input type="search" class="form-control" name="search" placeholder="Search"/>
      </div>

      <div class="col-auto col-md-2 ">
        <button type="submit" class="btn btn-outline-success">Search</button>
      </div>

   
   </div>
</form>