<%- include ('../../Shared/Views/header.ejs') -%> 

<%-include('./search.ejs') -%>

<div class="container mt-5">

    <div class="row">
        <%-include('./userCard.ejs') -%>
    </div>
</div>
</body>
</html>